*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.wrap{
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    /* background-image:url(/assets/pengembangan.jpg);
    background-repeat: no-repeat; */
    background-size: cover;
}
.wrap img{
    width: 50%;
}
@media screen and (max-width:870px){
    .wrap img{
        width: 90%;
    }
}